.BookConsultation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../Images/consultationBGImage.jpg");
  background-size: cover;
  padding: 50px;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 1) inset;
}

.mainDivisionBookConsultation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  flex-direction: column;
}

.mainDivisionBookConsultation h1 {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.858);
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.mainDivisionBookConsultation p {
  color: rgba(255, 255, 255, 0.775);
  width: 100%;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.mainDivisionBookConsultation .bookConsultationBTN {
  margin-top: 25px;
  padding: 8px 25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  transition: 0.2s;
  background-color: #fdcc07f1;
}
.mainDivisionBookConsultation .bookConsultationBTN:hover {
  background-color: #fdcb07;
}

/* Responsoiveness of Website */

@media screen and (max-width: 700px) {
  .BookConsultation {
    padding: 50px 25px;
  }
  .mainDivisionBookConsultation h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .mainDivisionBookConsultation p {
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.786);
    font-weight: 300;
  }

  .mainDivisionBookConsultation .bookConsultationBTN {
    padding: 7px 20px;
    font-size: 13px;
  }
}

/* End of Responsoiveness of Website */
