.NavbarSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  padding: 25px 0px;
  position: sticky;
  top: 0;
  z-index: +99;
}

.mainDivision_NavbarSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.logoDiv_Navbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}
.logoDiv_Navbar img {
  width: fit-content;
  height: 25px;
}

.getDesignsDiv_Navbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
}

.getDesignsDiv_Navbar button {
  padding: 8px 25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  transition: 0.2s;
  background-color: #fdcc07f1;
}

.getDesignsDiv_Navbar button:hover {
  background-color: #fdcb07;
}
